/***** BASE STYLES *****/
body {
    font-family: 'Montserrat', 'Meie Script', sans-serif;
    color: #000000;
}

/***** GRID *****/
.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}
.half-width {
    width: 600px;
    float: left;
}
.third-width-one, .third-width-two, .third-width-three {
    width: 399px;
    height: auto;
    float: left;
    display: inline;
    margin: 0 auto;
    border-top: 1px solid #eee;
}

/***** HEADER *****/
header {
    height: 110px;
}

header h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 15px 0px;
}

header h1 span {
    color: #77a466;
}
header nav {
    float: right; 
    padding: 30px 0px;;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #77a466;
    padding-left: 24px;
}

/***** WELCOME *****/
.welcome img {
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: #77a466;
}
main h2 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #77a466;
    padding: 10px 0px 10px 0px;
}

.welcome p {
    font-size: 16px;
    line-height: 25px;
    padding-right: 20px;
    padding-bottom: 15px;
}

/***** INFO *****/
.info .full-width {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-bottom: 0px;
}

.info h3 {
    font-size: 12px;
    text-transform: uppercase;
}

.info p {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 8px;
}

.third-width-one h3 {
    padding: 10px 0px;
}

.third-width-two h3, .third-width-three h3 {
    padding: 10px 30px;
}

.third-width-two {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.third-width-one ul {
    list-style: none;
    padding: 0;
}

.third-width-one ul li {
    padding: 10px 0px;
    color:#77a466;
}




/***** FOOTER *****/
footer {
    height: 50px;
    margin: 0 auto;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 14px 0px 14px 0px;
}

footer p span {
    color: #77a466;
    font-family: 'Meie Script', cursive;
    font-weight: lighter;
    text-transform: none;
}